@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
}

/* Custom global styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
}

.text-lewisRed {
  color: #940731;
  /* Primary color */
}

.bg-lewisRed {
  background-color: #940731;
  /* Primary background */
}

.bg-lewisRedDarker {
  background-color: #630522;
}
.bg-lewisRedDarkest {
  background-color: #5b051f;
}
.bg-secondary {
  background-color: #8a1c1e;
  /* Secondary background */
}

.text-secondary {
  color: #8a1c1e;
  /* Secondary color */
}

.bg-accent {
  background-color: #310310;
}

.text-gray {
  color: #d9d9d9;
  /* Gray text */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.center-content {
  width: 100%;
  max-width: fit-content;
  padding: 20px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/CrimsonText-Regular.ttf') format('truetype');
  font-weight: 400;
}

@layer utilities {
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-slide-down {
    animation: slideDown 0.2s ease-out forwards;
  }
  .border-lrb {
    @apply border-l border-r border-b;
  }
}