@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
}

.text-lewisRed {
  color: #940731;
  /* Primary color */
}

.bg-lewisRed {
  background-color: #940731;
  /* Primary background */
}

.bg-lewisRedDarker {
  background-color: #630522;
}
.bg-lewisRedDarkest {
  background-color: #5b051f;
}
.bg-secondary {
  background-color: #8a1c1e;
  /* Secondary background */
}

.text-secondary {
  color: #8a1c1e;
  /* Secondary color */
}

.bg-accent {
  background-color: #310310;
}

.text-gray {
  color: #d9d9d9;
  /* Gray text */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.center-content {
  width: 100%;
  max-width: fit-content;
  padding: 20px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('/fonts/CrimsonText-Regular.ttf') format('truetype');
  font-weight: 400;
}

@layer utilities {
  .animate-pop {
    animation:pop 0.2s ease-out forwards;
  }

  @keyframes pop {
    0% {
      transform: scale(0.9) translate(-50%, -50%);
      opacity: 0;
    }
    100% {
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
    }
  }

  .animate-fadein {
    animation: fadeInZoom 0.2s ease-out;
  }

  @keyframes fadeInZoom {
    0% {
      opacity: 0;
      transform: scale(0.9) translate(-50%, -50%);
    }
    100% {
      opacity: 1;
      transform: scale(1.1) translate(-50%, -50%);
    }
  }

  .animate-growin {
    animation: growIn 0.25s ease-out forwards;
  }

  .animate-shrinkout {
    animation: shrinkOut 0.25s ease-in forwards;
  }

  @keyframes growIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes shrinkOut {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.1);
      opacity: 0;
    }
  }
}